Package: _PACKAGE_
Version: 1._VERSION_
Section: flipkart/w3
Priority: standard
Depends:  fk-ops-nginx-bin-squeeze
Architecture: all
Maintainer: W3 Core team <w3-core@flipkart.com>
Description: Swagger UI
